<template>
  <div id="app">
    <img src="./assets/logo.png">
    <Snippet />
  </div>
</template>

<script>
import Snippet from './components/Snippet.vue'

export default {
  name: 'app',
  components: {
    Snippet
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
