<template>
    <section>
        <b-field label="Text to decode">
            <b-input v-model="simpleText" type="textarea"></b-input>
        </b-field>
        <button class="button is-primary" @click="onSubmit">Submit</button>
    </section>
</template>

<script>
export default {
  name: 'SnippetForm',
  data: function() {
      return {
          simpleText: ""
      }
  },
  methods: {
      onSubmit: function() {
          this.$emit('value', this.simpleText);
      }
  }
}
</script>