<template>
    <div>
        <SnippetForm @value="handleValue" />
        <template v-if="snippetText">
            <template v-for="(char, index) in snippetChars">
                <SnippetChar :char="char" 
                             :index="index"
                             :start="start"
                             :end="end" 
                             :key="index"
                             @select="handleSelect" />
            </template>
        </template>
    </div>
</template>

<script>
import SnippetForm from "./SnippetForm";
import SnippetChar from "./SnippetChar";

export default {
  name: "Snippet",
  components: {
    SnippetForm,
    SnippetChar
  },
  computed: {
    snippetChars: function() {
      return this.snippetText.split("");
    }
  },
  data: function() {
    return {
      snippetText: "",
      start: -1,
      end: -1
    };
  },
  methods: {
    handleValue: function(value) {
      this.snippetText = value;
    },
    handleSelect: function(index) {
        if (this.start == -1 && this.end == -1) {
            this.start = index;
        } else if (this.end == -1) {
            this.end = index;
        } else {
            if (index == this.start) {
                this.start = -1;
            } else if (index == this.end) {
                this.end = -1;
            } else if (index < this.start) {
                this.start = index;
            } else if (index > this.end) {
                this.end = index;
            } else {
                this.end = index;
            }
        }
    }
  }
};
</script>