<template>
    <span :class="classObject" @click="handleClick">{{char}}</span>
</template>

<script>
export default {
    name: "SnippetChar",
    props: {
        char: String,
        index: Number,
        start: Number,
        end: Number
    },
    computed: {
        classObject: function() {
            return {
                selected: this.start <= this.index && this.index <= this.end
            }
        }
    },
    methods: {
        handleClick: function() {
            console.log(this.start, this.index, this.end)
            this.$emit("select", this.index)
        }
    }
}
</script>

<style scoped>
.selected {
    background-color: yellow
}
</style>